<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimulaSoccer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 	<div style="margin: 15px;">
		<form method="post">
			<input>
			{% csrf_token %}
		</form>
	</div> -->
	<div style="margin: 15px;">
	<table class="table-bordered">
		<thead>
			<th>#</th>
			<th>Time</th>
			<th>Pontos</th>
			<th>Vitorias</th>
			<th>Gols</th>
			<th>Gols sofridos</th>
			<th>Saldo de gols</th>
		</thead>
		<h1>
		</h1>
		<tbody>
			<ul>
				{% for team in teams_list %}
				<li>
					Nome: {{ team.name }}<br>
					Pontos: {{ team.points }}<br>
					Gols Pró: {{ team.goals_pro }}<br>
					Gols Contra: {{ team.goals_contra }}<br>
					Vitórias: {{ team.wins }}<br>
					Empates: {{ team.draws }}<br>
					Derrotas: {{ team.loss }}<br>
				</li>
				{% endfor %}
			</ul>
		</tbody>
	</table>
	<div>
</body>
</html>
