<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimulaSoccer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>SimulaSoccer</h1>
<!-- 	<div style="margin: 15px;">
		<form method="post">
			<input>
			{% csrf_token %}
		</form>
	</div> -->
	<div style="margin: 15px;">
	<table class="table-bordered">
		<thead>
			<th>#</th>
			<th>Time</th>
			<th>Pontos</th>
			<th>Vitorias</th>
			<th>Empates</th>
			<th>Derrotas</th>
			<th>Gols</th>
			<th>Gols sofridos</th>
			<th>Saldo de Gols</th>
		</thead>
		<tbody>
			{% for team in teams_list %}
			<tr>
				<td>{{ forloop.counter }}</td> 
				<td>{{ team.name }}</td>
				<td>{{ team.points }}</td>
				<td>{{ team.wins }}</td>
				<td>{{ team.draws }}</td>
				<td>{{ team.loss }}</td>
				<td>{{ team.goals_pro }}</td>
				<td>{{ team.goals_con }}</td>
				<td>{{ team.goals_dif }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    <div style="margin: 15px;">
		{% for game in games_list %}
        <form method="post" action="{% url 'game' %}">
            {% csrf_token %}
            <input type="hidden" name="home_team" value="{{game.home_team.name}}">
            <input type="hidden" name="away_team" value="{{game.away_team.name}}">
            <input type="hidden" name="game_id" value="{{game.id}}">
            {{game.home_team.name}}
            <input type="number" name="home_goals" id="home_goals" min="0" max="9" value={{game.home_goals}}>
            x
            <input type="number" name="away_goals" id="away_goals" min="0" max="9" value={{game.away_goals}}>
            {{game.away_team.name}}
            <input type="submit" value="Enviar">
            <br>
        </form>
        {% endfor %}
	</div>
</body>
</html>
