<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimulaSoccer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    .table-responsive {
        overflow-x: auto;
    }

     @media (max-width: 768px) {
        .right-column {
            margin-top: 20px;
        }
    }
    
     .left-column {
		float: right;
    }

    .right-column {
		float: right;
        margin-left: 5%;
    } 
	.league_title {
		text-align: center;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		color: black;
		font-size: 30px;
	}
	.table-cel {
		width: 8%;
		text-align: center;
	}
</style>
<body>
	<nav class="navbar navbar-inverse" style="background-color: rgb(155, 219, 111);">
		<div class="container-fluid">
			<div class="navbar-header">
				{% load static %}
				<a href="{% url 'home' %}" ><img src="{% static 'images/logo.png' %}" alt="logo" width="30%" height="30%"></a>
			  </div>
		</div>
	</nav>
	<br>
		<div style="display: inline;">
			<h2 class="league_title">{{ league.league_name }} <img style="width: 3%;" height="3%" src="{{ league.logo }}"></h2>
		</div>
		<div class="container-fluid">
			<div class="row" style="width: 100%; height: 90%;">
				<div class="col-lg-6 left-column">
					<br>
					<div class="table-responsive">
						<table class="table-striped">
							<thead style="background-color: gainsboro;">
								<th></th>
								<th></th>
								<th class="table-cel">P</th>
								<th class="table-cel">J</th>
								<th class="table-cel">V</th>
								<th class="table-cel">E</th>
								<th class="table-cel">D</th>
								<th class="table-cel">G</th>
								<th class="table-cel">GS</th>
								<th class="table-cel">SG</th>
								<th class="table-cel">%</th>
							</thead>
							<tbody>
								{% for team in teams_list %}
								<tr id="team_row_{{ team.id_name }}">
									<td class="text-center mb-4" {% if forloop.counter <= league.zone_1 %}style="background-color: green; color:white" 
									{% elif league.zone_2 and forloop.counter <= league.zone_2 %}style="background-color: blue; color: white" 
									{% elif league.zone_3 and forloop.counter <= league.zone_3 %}style="background-color: rgb(199, 186, 0); color: white" 
									{% elif forloop.counter >=  league.zone_reb %}style="background-color: red; color: white"
									{% endif %}>{{ forloop.counter }}</td>
									<td><img src="{{ team.logo }}" alt="" width="13%" height="13%"> {{ team.name }}</td>
									<td class="text-center mb-4">{{ team.points }}</td>
									<td class="text-center mb-4">{{ team.games_played }}</td>
									<td class="text-center mb-4">{{ team.wins }}</td>
									<td class="text-center mb-4">{{ team.draws }}</td>
									<td class="text-center mb-4">{{ team.loss }}</td>
									<td class="text-center mb-4">{{ team.goals_pro }}</td>
									<td class="text-center mb-4">{{ team.goals_con }}</td>
									<td class="text-center mb-4">{{ team.sg }}</td>
									<td class="text-center mb-4">{{ team.aproveitamento }}%</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<br>
						<div class="table-responsive">
							<table>
								<tr>
									<td style="background-color: green; font-size: 10px; width : 4%"> </td>
									<td> {{ league.zone_1_txt }}</td>
								</tr>
								<tr>	
									{% if league.zone_2 %}
									<td style="background-color: blue; font-size: 10px; width : 4%"> </td>
									<td> {{ league.zone_2_txt }}</td>
									{% endif %}
								</tr>
								<tr>
									{% if league.zone_3 %}
									<td style="background-color: rgb(199, 186, 0); font-size: 10px; width : 4%"> </td>
									<td> {{ league.zone_3_txt }}</td>
									{% endif %}
								</tr>
								<tr>
									<td style="background-color: red; font-size: 10px; width : 4%"> </td>
									<td> {{ league.zone_reb_txt }}</td>
								</tr>
							</table>	
						</div>
					</div>
				</div>
				<div class="right-column">
					<div class="d-flex justify-content-between align-items-center mt-4">
						<form class="d-inline" method="post" action="{% url 'prev_round' %}">
							{% csrf_token %}
							<input type="hidden" name="current_round" value="{{ current_round }}">
							<input type="hidden" name="league_id" value="{{ league.league_id }}">
							<button type="submit" class="btn btn-outline-success btn-sm" {% if current_round == 1 %}disabled{% endif %}>
								<i class="fas fa-chevron-left"></i> Anterior
							</button>
						</form>
						<h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">RODADA {{current_round}}</h4>
						<form class="d-inline" method="post" action="{% url 'next_round' %}">
							{% csrf_token %}
							<input type="hidden" name="current_round" value="{{ current_round }}">
							<input type="hidden" name="league_id" value="{{ league.league_id }}">
							<button type="submit" class="btn btn-outline-success btn-sm" {% if current_round == 38 %}disabled{% endif %}>
								Próxima <i class="fas fa-chevron-right"></i>
							</button>
						</form>
					</div>
					<ul style="text-align: center;" class="list-group">
						{% for game in games_list %}
						<form id="form_{{ game.id }}" method="post" action="{% url league.url %}">
						{% csrf_token %}
						<div style="border: 1px solid gainsboro">
							<input type="hidden" name="home_team" value="{{ game.home_team.name }}">
							<input type="hidden" name="away_team" value="{{ game.away_team.name }}">
							<input type="hidden" name="game_id" value="{{ game.id }}">
							<img src="{{ game.home_team.logo }}" alt=""  height="7%" width="7%">
							<input type="number" {% if game.real_played == True %}disabled{% endif %} name="home_goals" id="home_goals_{{ game.id }}" min="0" max="9" value="{{ game.home_goals }}">	
							X
							<input type="number"  {% if game.real_played == True %}disabled{% endif %} name="away_goals" id="away_goals_{{ game.id }}" min="0" max="9" value="{{ game.away_goals }}">
							<img src="{{ game.away_team.logo }}" alt="" height="7%" width="7%">
							<p style="font-size: 12px;">{{ game.home_team.stadium }}  -  {{ game.local_time }}</p>
						</div>
						</form>
						<script>
							var data = JSON.parse(localStorage.getItem('data')) || []
							document.addEventListener('DOMContentLoaded', function() {
							var homeGoalsInput = document.getElementById('home_goals_{{ game.id }}');
							var awayGoalsInput = document.getElementById('away_goals_{{ game.id }}');
							var form = document.getElementById('form_{{ game.id }}');

							homeGoalsInput.addEventListener('input', function() {
								checkInputs();
							});

							awayGoalsInput.addEventListener('input', function() {
								checkInputs();
							});
							
							function exec_game(game, generaldata){
								home_team = game['home_team']
								away_team = game['away_team']
								generaldata[home_team]['goals_pro'] += game['home_goals']
								generaldata[home_team]['goals_con'] += game['away_goals']
								generaldata[away_team]['goals_pro'] += game['away_goals']
								generaldata[away_team]['goals_con'] += game['home_goals']
								generaldata[home_team]['games_played'] += 1
								generaldata[away_team]['games_played'] += 1
								generaldata[home_team]['sg'] += game['home_goals'] - game['away_goals']
								generaldata[away_team]['sg'] += game['away_goals'] - game['home_goals']
								if (game['home_goals'] > game['away_goals']){
									generaldata['home_team']['points'] += 3
									generaldata['home_team']['wins'] += 1
									generaldata['away_team']['loss'] += 1
								}
								if (game['home_goals'] == game['away_goals']){
									generaldata['home_team']['draws'] += 1
									generaldata['away_team']['draws'] += 1
									generaldata['home_team']['points'] += 1
									generaldata['away_team']['points'] += 1
								}
								if (game['away_goals'] > game['home_goals']){
									generaldata['away_team']['points'] += 3
									generaldata['away_team']['wins'] += 1
									generaldata['home_team']['loss'] += 1
							}
							function checkInputs() {
								if (homeGoalsInput.value !== '' && awayGoalsInput.value !== '') {
									game = {'game_id': '{{ game.id }}',
									'home_team': '{{ game.home_team.name }}',
									'home_goals':  homeGoalsInput.value,
									'away_team': '{{ game.away_team.name }}',
									'away_goals':  awayGoalsInput.value
									}
									data.push(game);
									localStorage.setItem('data', JSON.stringify(data));
									const formData = new FormData(form);
									console.log(homeGoalsInput.value)
									localStorage.getItem(['teamsList']['teams'])
									exec_game(game, generaldata)
									fetch("{% url league.url %}", {
										method: 'POST',
										body: formData,
										headers: {
											'X-Requested-With': 'XMLHttpRequest',
											'X-CSRFToken': form.querySelector('input[name="csrfmiddlewaretoken"]').value,
										},
									})
									.then(response => response.json())
									.then(data => {
										/* console.log(data); */
										const tbody = document.querySelector('tbody');
										tbody.innerHTML = '';										
										data.forEach((team, index) => {
											const row = document.createElement('tr');
											row.id = `team_row_${team.id_name}`;						
											const rankCell = document.createElement('td');
											rankCell.className = 'text-center mb-4';
											rankCell.textContent = index + 1;	
											row.innerHTML = `
											<td class="text-center mb-4">${index + 1}</td>
											<td><img src="${team.logo}" alt="" width="13%" height="13%"> ${team.id_name}</td>
											<td class="text-center mb-4">${team.points}</td>
											<td class="text-center mb-4">${team.games}</td>
											<td class="text-center mb-4">${team.wins}</td>
											<td class="text-center mb-4">${team.draws}</td>
											<td class="text-center mb-4">${team.loss}</td>
											<td class="text-center mb-4">${team.goals_pro}</td>
											<td class="text-center mb-4">${team.goals_con}</td>
											<td class="text-center mb-4">${team.sg}</td>
											<td class="text-center mb-4">${team.aproveitamento}%</td>
											`;
											tbody.appendChild(row);
											});
										});
									}
								}
							});
							</script>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div align="center">
			<form method="post" action="{% url 'restart' %}">
				{% csrf_token %}
				<input type="hidden" name="league_id" value="{{ league.league_id }}">
				<button type="submit" id ="restart" class="btn btn-outline-success btn-sm">
					Restart <i class="fas fa-chevron-right"></i>
				</button>
				<script>
					document.addEventListener('DOMContentLoaded', function(){
						var restartButton = document.getElementById('restart');
		
						restartButton.addEventListener('click', function(){
							localStorage.removeItem('data')
						})
					})
				</script>
			</form>
		</div>	
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				getGeneralData()
			})
			function getGeneralData() {
				fetch ('get_data')
					.then(response => response.json())
					.then(data => {
						console.log(data)
						const teamsListJson = JSON.stringify(data);
						localStorage.setItem('teamsList', teamsListJson);
					})
			}	
		</script>
		</html>