<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimulaSoccer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse" style="background-color: green;">
		<div class="container-fluid">
			<div class="navbar-header">
				{% load static %}
				<img src="{% static 'images/simulasoccer2.png' %}" alt="logo" width="30%" height="30%">
			  </div>
		</div>
	</nav>
	<div style="margin: 20px;">
		<h4>CAMPEONATOS</h4>
		{% for league in leagues_list %}
		<a href="{% url league.url  %}"> <img src="{{ league.logo }}" alt="" width="5%" height="5%">{{ league.league_name }}</a>
		<br>
		{% endfor %}
	</div>
</body>