<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimulaSoccer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse" style="background-color: green;">
		<div class="container-fluid">
			<div class="navbar-header">
				<h2>SimulaSoccer</h2>
			  </div>
		</div>
	</nav>
	<div style="margin: 20px;">
		<a href="{% url 'game' %}">Brasileiro Série A</a>
	</div>
</body>